@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

color {
    color: #F5F5F5;
    color: #F05454;
    color: #30475E;
    color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5F5F5;
}

nav a,
.social_links p,
.container p,
.container a {
    font-size: 16px;
    font-family: monospace;
}

.main_nav {
    /* display: flex;
    justify-content: space-between; */
    
    /* padding: 25px 25px 0px 25px; */
    padding: 25px 20px;
    background-color: #30475E;

    border-bottom: 5px solid #F05454;
}

.main_nav .home {
    /* width: 25%; */
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 10px 15px 10px;
    margin: 0px auto 20px auto;
    color: #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
}

.main_nav .nav_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    list-style: none;
}

.main_nav .nav_link a {
    font-size: 16px;
    line-height: 2rem;
    box-sizing: border-box;
    padding: 3px 6px;
    /* margin: 0px 1px; */
    color: #F5F5F5;
    text-decoration: none;
    /* border: 1px solid #F05454; */
}

.main_nav .nav_link a:hover{
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid #F05454;
}

.container {
    max-width: 800px;
    padding: 20px;
    margin: 0px auto;
}

.welcome {
    height: 80vh;
    display: flex;
    align-items: center;
}

.welcome .main_content {
    padding: 0px 0px 0px 15px;
    border-left: 5px solid #F05454;
}

.toc {
    padding: 20px 0px;
}

.card_1 {
    padding: 15px;
    margin: 0px 0px 25px 0px;
    border-left: 7px solid #F05454;
    background-color: #30475E;
    color: #F5F5F5;
}

.card_2 {
    padding: 15px;
    margin: 0px 0px 25px 0px;
    border-right: 7px solid #F05454;
    background-color: #30475E;
    color: #F5F5F5;
}

.card_2 img {
    transform: rotateY(180deg);
}

.container img{
    width: 100%;
    /* padding: 0px 0px 0px 10px; */
    margin: 0px 0px 10px 0px;
    /* border-left: 5px solid #F05454; */
    /* border-radius: 0px 10px 10px 0px; */
}

.container h2 {
    line-height: 1.8rem;
    margin-bottom: 5px;
}

.container p {
    line-height: 1.5rem;
    margin: 10px 0px 20px 0px;
}

.card_button {
    line-height: 2rem;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #F5F5F5;
}

.card_button:hover {
    color: #30475E;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
}

.main_button {
    line-height: 2rem;
    text-decoration: none;
    color: #30475E;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #30475E;
}

.main_button:hover {
    color: #F5F5F5;
    background-color: #30475E;
    border: 1px solid #30475E;
}

.footer {
    padding: 15px 20px;
    background-color: #30475E;
    border-bottom: 5px solid #F05454;
}

.footer .social {
    display: flex;
    justify-content: space-between;
}

.social_links {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 10px;
}

.social_links:hover {
    color: #30475E;
    background-color: #F05454;
    border-radius: 5px;
}

.social_links #profile-link {
    margin: 0px 0px 10px 0px;
    color: #F5F5F5;
    font-size: 32px;
}

.social p {
    color: #F5F5F5;
    font-size: 16px;
}